/* You can add global styles to this file, and also import other style files */
@use "stream-chat-angular/src/assets/styles/scss/index.scss";

html {
  height: 100%;
}

body {
  font-size: 13px;
  line-height: 1.8;
  color: #222;
  background: #f8f8f8;
  font-weight: 400;
  font-family: Poppins;
  margin: 0;
  height: 100%;
}

#root {
  display: flex;
  height: 100%;

  stream-channel-list {
    width: 30%;
  }

  stream-channel {
    width: 100%;
  }

  stream-thread {
    width: 45%;
  }
}

.main {
  background: #f8f8f8;
  padding: 150px 0;
}

.signup {
  margin-bottom: 150px;
}

section {
  display: block;
  unicode-bidi: isolate;
}

@media screen and (min-width: 1024px) {
  .container {
      max-width: 1200px;
  }
}

@media screen and (max-width: 1200px) {
  .container {
      width: calc(100% - 30px);
      max-width: 100%;
  }
}

.container {
  width: 900px;
  background: #fff;
  margin: 0 auto;
  box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
  -o-box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
  -ms-box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  -o-border-radius: 20px;
  -ms-border-radius: 20px;
}
user agent stylesheet
div {
  display: block;
  unicode-bidi: isolate;
}

.signup-content {
  padding: 75px 0;
}

display-flex, .display-flex, .display-flex-center, .signup-content, .signin-content, .social-login, .socials 
{
  display: -webkit-flex;
}

.signup-form {
  margin-left: 75px;
  margin-right: 75px;
  padding-left: 34px;
}

.signup-form, .signup-image, .signin-form, .signin-image {
  width: 50%;
  overflow: hidden;
}

.signup-image {
  margin: 0 55px;
}

.signup-form, .signup-image, .signin-form, .signin-image {
  width: 50%;
  overflow: hidden;
}

figure {
  margin-bottom: 50px;
  text-align: center;
  margin: 0;
  display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
    unicode-bidi: isolate;
}

img {
  max-width: 100%;
  height: auto;
  overflow-clip-margin: content-box;
  overflow: clip;
}

label {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  color: #222;
  cursor: default;
}

input {
  width: 100%;
  display: block;
  border: none;
  border-bottom: 1px solid #999;
  padding: 6px 30px;
  font-family: Poppins;
  box-sizing: border-box;
}

input, select, textarea {
  outline: none;
  appearance: unset !important;
  -moz-appearance: unset !important;
  -webkit-appearance: unset !important;
  -o-appearance: unset !important;
  -ms-appearance: unset !important;
}

input:not([type="image" i], [type="range" i], [type="checkbox" i], [type="radio" i]) {
  overflow-clip-margin: 0px !important;
  overflow: clip !important;
}

input[type="text" i] {
  padding-block: 1px;
  padding-inline: 2px;
}

input:not([type="file" i], [type="image" i], [type="checkbox" i], [type="radio" i]) {
}

.material-icons-name {
  font-size: 18px;
}

.zmdi {
  display: inline-block;
  font: normal normal normal 14px / 1 'Material-Design-Iconic-Font';
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.form-group:last-child {
  margin-bottom: 0px;
}

.form-group {
  position: relative;
  margin-bottom: 25px;
  overflow: hidden;
}

.form-submit {
  display: inline-block;
  background: #6dabe4;
  color: #fff;
  border-bottom: none;
  width: auto;
  padding: 15px 39px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  margin-top: 25px;
  cursor: pointer;
  border-color: #6dabe4;
}

.form-invite {
  display: inline-block;
  background: #00ddd2;
  color: #fff;
  border-bottom: none;
  width: auto;
  padding: 15px 39px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  margin-top: 25px;
  cursor: pointer;
  border-color: #00ddd2;
}